h1 {
    color: blue;
    margin-bottom: 0px;
  }
  body {
    border: 1px solid #885df1;
    margin: block;
    margin: 50px 100px;
    padding: 15px 0 30px 0;
  }
  .searching {
    padding: 20px 30px 0px;
  }
  h5 {
    margin-top: 10px;
  }
  .temperature {
    font-size: 70px;
  }
  .celsium {
    font-size: 30px;
  }
  .fahrenheit {
    font-size: 30px;
  }
  .bold {
    font-weight: bold;
  }
  