
  .weatherApp {
    max-width: 700px;
    margin: 50px auto;
    border: 1px solid #809bec;
    box-shadow:0 0 10px rgb(67, 129, 230);
    border-radius: 10px;
    display: block;
  }
  .currentCity {
    color: rgb(98, 135, 203);
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .searching {
    padding: 20px 30px 0px;
  }
  h5 {
    margin-top: 10px;
  }
  .temperature {
    font-size: 50px;
  }
  .celsium {
    font-size: 30px;
  }
  .fahrenheit {
    font-size: 30px;
  }
  .bold {
    font-weight: bold;
  }
  .owner {
    margin: 15px auto;
  }

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}